.post {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  font-size: 25px;
};

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: 700ms;
}