.post {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  font-size: 25px;
  border-radius: 8px;
  border: 2px solid cyan;
}
.example-enter {  
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
