.post {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  border-radius: 8px;
  border: 2px solid cyan;
  position:relative;
}

.example-enter {  
  opacity: 0.01;
  margin-left:0;
  margin-right:0;
  font-size:0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  margin-left:10%;
  margin-right:10%;
  font-size:15px;
  transition: font-size 500ms ease-in, opacity 500ms ease-in, margin-left 500ms ease-in, margin-right 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

