
body {
  /*this fixes problem of html being shifted when the scroll bar appears*/  
  overflow-y: scroll;
  /* overflow-x: scroll; */
  overflow: -moz-scrollbars-vertical;
}

.post {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  border-radius: 8px;
  border: 2px solid cyan;
}

.row {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.row div.col {
  padding-left: 0px;
  padding-right: 0px;
  ;
}

.example-enter {
  opacity: 0.01;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 400ms ease;
}

.example-leave {
  opacity: 1;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  font-size: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  transition: all 400ms ease-in;
}